PORT=5000
MONGODB_USERNAME='ajhsuiaj'
MONGODB_PASSWORD='password'
MONGODB_URI=mongodb://localhost:27017/manage_app
JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
